.about-principal {
  font-family: 'Times New Roman', Times, serif;;
  padding: 16%;
  padding-top: 8%;
  background-color: rgb(213, 192, 243);
}

.title-about {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  padding-bottom: 6%;
  padding-top: 5%;
  font-size: 25px;
  /* white-space: nowrap;
  overflow: hidden; */
  animation: example 5s linear 2s infinite alternate;
}

.paragraph-about {
  padding-bottom: 5%;
}
