.div-principal {
  background-image: url('./fundo-floral.webp');
  background-size: cover;
  background-position: center;
  padding-top: 4%;
  padding: 13%;
  display: flex;
  justify-content: space-between;
}

/* p .p-home {
  font-family: 'EB Garamond', serif;
  font-style: italic, oblique;
  font-size: medium;
} */

.picture-profile {
  background-image: url('../images/profile.jpeg');
  background-size: 100%;
  padding: 15%;
  border-radius: 60%;
  border: 5px groove rgb(216, 109, 168);;
}

.box-about {
    color: rgb(76, 76, 94);
    background: rgba(209, 188, 241, 0.5);
    width: 65%;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
}
/* 
@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

h1 span span { color: pink; }
h1 span span:nth-child(2n) { color: orange; }
h1 span span { 	animation: move-text 0.75s forwards; } */

.about-title {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  color: rgb(226, 9, 129);
  font-size: 22px;
  animation: move-text 0.75s forwards;
}

.div-main {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
}

.skill-item {
  /* padding: 3px; */
  width: 2000px;
}

@media only screen and (max-width: 768px) {
  .div-principal {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 25%;
    padding-left: -300%;
    margin-left: -50%;
  }

  .box-about {
    width: 250px;
    /* padding-top: 5%;
    margin-left: -20%; */
    align-items: center;
    justify-content: center;
    padding-left: -100px;
  }

  .picture-profile{
    border: none;
    padding: 0px;
    margin-left: -50%;
  }

  .about-title {
    font-size: 20px;
    padding: 20px;
}
}