.div-principal {
  background-image: url('./fundo-floral.webp');
  background-size: cover;
  background-position: center;
  padding-top: 4%;
  padding: 13%;
  display: flex;
  justify-content: space-between;
}

.p-home {
  font-family: 'Pacifico', cursive;
  font-style: italic;
}

.picture-profile {
  background-image: url('../images/profile.jpeg');
  background-size: 100%;
  padding: 15%;
  border-radius: 60%;
  border: 3px dotted black;
}

.box-about {
    background: rgba(209, 188, 241, 0.5);
    width: 65%;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
    border-radius: 20px;
}
/* 
@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

h1 span span { color: pink; }
h1 span span:nth-child(2n) { color: orange; }
h1 span span { 	animation: move-text 0.75s forwards; } */

.about-title {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 22px;
  animation: move-text 0.75s forwards;
}

.div-main {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  color:purple;
}

@media only screen and (max-width: 768px) {
  .div-principal {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 40%;
    padding-left: -100%;
  }

  .box-about {
    width: 250px;
    /* padding-top: 5%;
    margin-left: -20%; */
    align-items: center;
    justify-content: center;
    padding-left: -100px;
  }

  .picture-profile{
    border: none;
    padding: 0px;
    margin-left: -50%;
  }

  .about-title {
    font-size: 20px;
    padding: 20px;
}
}